@charset 'utf-8';
footer {
  background-color: #f8f8f8;
}
footer .footerheader {
  list-style: none;
  padding: 30px 100px;
}
footer .footerheader > li {
  float: left;
  margin: 0 20px;
  position: relative;
}
footer .footerheader > li > a {
  color: #000;
}
footer .footerheader > li > a:hover {
  color: #ff1268;
}
footer .footerheader > li::after {
  content: '|';
  display: inline-block;
  position: absolute;
  right: -20px;
}
footer .footerheader > li:last-child::after {
  content: '';
}
footer .fu {
  position: relative;
}
footer .fu .f2 {
  padding-left: 30px;
  padding-right: 60px;
}
footer .fu .downapp {
  position: absolute;
  left: 250px;
  top: 110px;
}
footer .fu .fright {
  padding-left: 20px;
  font-size: 13px;
}
footer .fu .fright .online {
  display: block;
  width: 98px;
  height: 27px;
  line-height: 27px;
  text-align: center;
  background-color: #ff1268;
  color: #fff;
  font-size: 14px;
  border-radius: 20px;
  cursor: pointer;
}
footer .fu .fright ul {
  list-style: none;
  margin: 10px 0;
}
footer .fu .fright ul li {
  float: left;
  margin: 0 5px;
}
footer .fu .fright ul li a {
  font-size: 13px;
  color: #000;
}
footer .fu .fright ul li a:hover {
  color: #ff1268;
}
footer .fu .fright span {
  display: block;
  margin: 6px 5px;
}
footer .fu .fright .fpic {
  margin-top: 10px;
  cursor: pointer;
}
