@charset 'utf-8';
* {
  margin: 0;
  padding: 0;
}
.pointer {
  cursor: pointer;
}
header {
  width: 100%;
  height: 72px;
  box-shadow: 0 2px 16px 0 rgba(220, 220, 220, 0.5);
  font-size: 16px;
  font-style: '微软雅黑';
  font-weight: 400;
}
header #header {
  height: 100%;
}
header #header .row > div {
  height: 100%;
  line-height: 72px;
}
header #header .row .headerlogo {
  padding: 0;
}
header #header .row .headerlogo > img {
  width: 92px;
  height: auto;
  margin-top: 15px;
  float: left;
  cursor: pointer;
}
header #header .row div:nth-child(2) {
  padding-right: 0;
}
header #header .row div:nth-child(2):hover > .city-header {
  display: block;
}
header #header .row div:nth-child(2) .city-header {
  width: 626px;
  z-index: 999;
  position: absolute;
  left: -115px;
  top: 0;
  margin-top: 60px;
  background: #FFF;
  border: 1px solid #F4F4F4;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  padding: 21px;
  line-height: 30px;
  display: none;
}
header #header .row div:nth-child(2) .city-header span {
  margin-right: 8px;
}
header #header .row div:nth-child(2) .city-header span:hover {
  color: #FF1268;
}
header #header .row div:nth-child(2) .city-header ::after {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 175px;
  margin-top: -5.5px;
  width: 0;
  height: 0;
  content: '';
  border-style: solid;
  border-width: 5px;
  border-color: #fff #fff transparent transparent;
  transform: rotate(-45deg);
  box-shadow: 1px -1px 1px #ccc;
}
header #header .row .location::before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 13px;
  background: url('../img/logo2.png');
  background-size: 12px;
  margin-right: 5px;
  cursor: pointer;
}
header #header .row .triangle {
  font-size: 12px;
  cursor: pointer;
}
header #header .row div:nth-child(2) > span {
  cursor: pointer;
}
header #header .row div:nth-child(3) {
  cursor: pointer;
  padding-left: 0;
}
header #header .row div:nth-child(3) > span:nth-child(1) {
  margin-right: 15px;
}
header #header .row div:nth-child(3) .indexactive {
  color: #FF1268;
}
header #header .row div:nth-child(3) .index {
  text-decoration: none;
  display: inline;
  color: #333;
  margin-right: 15px;
}
header #header .row div:nth-child(3) .index:hover {
  color: #FF1268;
}
header #header .row div:nth-child(3) span:nth-child(2):hover {
  color: #FF1268;
}
header #header .row div:nth-child(4) {
  height: 100%;
  position: relative;
}
header #header .row div:nth-child(4)::before {
  content: '';
  width: 18px;
  height: 18px;
  display: block;
  background: url('../img/logo3.png');
  background-size: 18px;
  position: absolute;
  left: 100px;
  top: 27px;
}
header #header .row div:nth-child(4) .search {
  width: 253px;
  height: 44px;
  line-height: 72px;
  z-index: 10;
  font-size: 16px;
  background-color: transparent;
  outline: 0;
  border: 0;
  padding: 0 10px 0 54px;
  border-top-left-radius: 46px;
  border-bottom-left-radius: 46px;
  border: 1px solid #f8f8f8;
  background-color: #f8f8f8;
  border-right-color: #FF1268;
  box-sizing: content-box;
}
header #header .row div:nth-child(4) .btn-search {
  width: 82px;
  position: absolute;
  right: 4px;
  top: 13px;
  display: inline-block;
  background: #FF1268;
  line-height: 46px;
  font-size: 16px;
  text-align: center;
  color: #FFF;
  border-radius: 0 27px 27px 0;
  z-index: 11;
  letter-spacing: 4px;
  cursor: pointer;
}
header #header .row div:nth-child(5) {
  cursor: pointer;
  position: relative;
}
header #header .row div:nth-child(5)::before {
  content: '';
  width: 23px;
  height: 23px;
  display: block;
  background: url('../img/logo4.png');
  background-size: 23px;
  position: absolute;
  left: 26px;
  top: 25px;
}
header #header .row div:nth-child(5):hover {
  color: #FF1268;
}
header #header .row div:nth-child(6) {
  cursor: pointer;
  position: relative;
}
header #header .row div:nth-child(6)::before {
  content: '';
  width: 23px;
  height: 23px;
  display: block;
  background: url('../img/logo5.png');
  background-size: 23px;
  position: absolute;
  left: 27px;
  top: 25px;
}
header #header .row div:nth-child(6):hover {
  color: #FF1268;
}
header #header .row div:nth-child(7) {
  cursor: pointer;
  position: relative;
}
header #header .row div:nth-child(7)::before {
  content: '';
  width: 23px;
  height: 23px;
  display: block;
  background: url('../img/logo6.png');
  background-size: 23px;
  position: absolute;
  left: 6px;
  top: 25px;
}
header #header .row div:nth-child(7):hover {
  color: #FF1268;
}
footer {
  background-color: #f8f8f8;
}
footer .footerheader {
  list-style: none;
  padding: 30px 100px;
}
footer .footerheader > li {
  float: left;
  margin: 0 20px;
  position: relative;
}
footer .footerheader > li > a {
  color: #000;
}
footer .footerheader > li > a:hover {
  color: #ff1268;
}
footer .footerheader > li::after {
  content: '|';
  display: inline-block;
  position: absolute;
  right: -20px;
}
footer .footerheader > li:last-child::after {
  content: '';
}
footer .fu {
  position: relative;
}
footer .fu .f2 {
  padding-left: 30px;
  padding-right: 60px;
}
footer .fu .downapp {
  position: absolute;
  left: 250px;
  top: 110px;
}
footer .fu .fright {
  padding-left: 20px;
  font-size: 13px;
}
footer .fu .fright .online {
  display: block;
  width: 98px;
  height: 27px;
  line-height: 27px;
  text-align: center;
  background-color: #ff1268;
  color: #fff;
  font-size: 14px;
  border-radius: 20px;
  cursor: pointer;
}
footer .fu .fright ul {
  list-style: none;
  margin: 10px 0;
}
footer .fu .fright ul li {
  float: left;
  margin: 0 5px;
}
footer .fu .fright ul li a {
  font-size: 13px;
  color: #000;
}
footer .fu .fright ul li a:hover {
  color: #ff1268;
}
footer .fu .fright span {
  display: block;
  margin: 6px 5px;
}
footer .fu .fright .fpic {
  margin-top: 10px;
  cursor: pointer;
}
a {
  text-decoration: none;
}
#main {
  padding-bottom: 20px;
}
#main #slide ul {
  list-style: none;
}
#main #slide .carousel-content {
  width: 100%;
  height: 320px;
  position: relative;
  margin: 0 auto;
}
#main #slide .carousel {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
#main #slide .carousel li {
  float: left;
  position: absolute;
  display: none;
}
#main #slide .carousel li,
#main #slide .carousel li img {
  width: 100%;
  height: 100%;
}
#main #slide .carousel-index {
  position: absolute;
  bottom: 8px;
  width: 100%;
  display: flex;
  justify-content: center;
}
#main #slide .carousel-index li {
  float: left;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  cursor: pointer;
  margin: 0 3px;
  color: #fff;
}
#main #slide .carousel-index li.current-index {
  background-color: rgba(0, 0, 0, 0.7);
}
#main #slide .carousel-index li:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
#main #slide .carousel-prev,
#main #slide .carousel-next {
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: pointer;
  margin: auto;
  width: 32px;
  height: 40px;
}
#main #slide .carousel-prev img,
#main #slide .carousel-next img {
  width: 100%;
  height: 100%;
}
#main #slide .carousel-prev {
  left: 0;
}
#main #slide .carousel-next {
  right: 0;
}
#main #nav {
  list-style: none;
  margin-top: 15px !important;
  padding: 22px 0 25px 0;
  border: 1px solid #EBEBEB;
  zoom: 1;
  padding-bottom: 15px;
}
#main #nav li {
  float: left;
  width: 10%;
}
#main #nav li a {
  display: block;
  text-align: center;
  text-decoration: none;
}
#main #nav li a:hover p {
  color: #FF1268 !important;
}
#main #nav li a > span {
  display: block;
  width: 48px;
  height: 48px;
  margin: 0 auto;
}
#main #nav li a > p {
  font-size: 16px;
  color: #111;
  text-align: center;
}
#main #nav li a > p:hover {
  color: #FF1268 !important;
}
#main #nav li:nth-child(1) > a > span {
  background: url('../img/icon.png') 0px 0px no-repeat;
  background-size: 50px;
}
#main #nav li:nth-child(2) > a > span {
  background: url('../img/icon.png') 0px -68px no-repeat;
  background-size: 50px;
}
#main #nav li:nth-child(3) > a > span {
  background: url('../img/icon.png') 0px -130px no-repeat;
  background-size: 50px;
}
#main #nav li:nth-child(4) > a > span {
  background: url('../img/icon.png') 0px -190px no-repeat;
  background-size: 50px;
}
#main #nav li:nth-child(5) > a > span {
  background: url('../img/icon.png') 0px -250px no-repeat;
  background-size: 50px;
}
#main #nav li:nth-child(6) > a > span {
  background: url('../img/icon.png') 0px -310px no-repeat;
  background-size: 50px;
}
#main #nav li:nth-child(7) > a > span {
  background: url('../img/icon.png') 0px -375px no-repeat;
  background-size: 50px;
}
#main #nav li:nth-child(8) > a > span {
  background: url('../img/icon.png') 0px -435px no-repeat;
  background-size: 50px;
}
#main #nav li:nth-child(9) > a > span {
  background: url('../img/icon.png') 0px -500px no-repeat;
  background-size: 50px;
}
#main #nav li:nth-child(10) > a > span {
  background: url('../img/icon.png') 0px -560px no-repeat;
  background-size: 50px;
}
#main .content_1 {
  padding: 20px;
  border: 1px solid #EBEBEB;
  background: #fff;
  margin-top: 15px;
}
#main .content_1 h3 {
  font-size: 24px;
  vertical-align: middle;
  margin-left: 5px;
  color: #111;
  width: 500px;
  height: 40px;
}
#main .content_1 .head_1 {
  position: relative;
  display: block;
}
#main .content_1 .head_1 :hover {
  color: #FF1268;
}
#main .content_1 .head_1 > img {
  width: 272px;
}
#main .content_1 .head_1 .fcont {
  width: 272px;
  height: 120px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 17px 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
#main .content_1 .head_1 .fcont .title {
  height: 45px;
  font-size: 16px;
}
#main .content_1 .head_1 .fcont .details {
  height: 50px;
  font-size: 24px;
  line-height: 50px;
  font-weight: 400;
}
#main .content_1 .head_1 .fcont .details > span {
  font-size: 16px;
}
#main .content_1 .box-right {
  width: 33.33333333%;
  float: left;
}
#main .content_1 .box-right .item_1:hover {
  color: #FF1268;
  text-decoration: none;
}
#main .content_1 .box-right .item_1 .itemimg {
  width: 118px;
  float: left;
  margin-right: 10px;
  text-decoration: none !important;
}
#main .content_1 .box-right .item_1 .itemimg img {
  width: 100%;
}
#main .content_1 .box-right .item_1 .iteminfo {
  padding: 5px;
}
#main .content_1 .box-right .item_1 .iteminfo .title {
  line-height: 20px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #000;
}
#main .content_1 .box-right .item_1 .iteminfo .title:hover {
  color: #FF1268;
}
#main .content_1 .box-right .item_1 .iteminfo .venue,
#main .content_1 .box-right .item_1 .iteminfo .showtime {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 12px;
  margin-top: 14px;
  color: #9B9B9B;
  overflow: hidden;
  word-break: break-all;
}
#main .content_1 .box-right .item_1 .iteminfo .venue:hover,
#main .content_1 .box-right .item_1 .iteminfo .showtime:hover {
  color: #FF1268;
}
#main .content_1 .box-right .item_1 .iteminfo .price {
  font-size: 16px;
  color: #FF1268;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#main .content_1 .bright > div:nth-child(4) {
  padding-top: 40px;
}
#main .content_1 .bright > div:nth-child(5) {
  padding-top: 40px;
}
#main .content_1 .bright > div:nth-child(6) {
  padding-top: 40px;
}
