@charset 'utf-8';

@import './header.less';
@import './footer.less';

a {
    text-decoration: none;
}

#main {
    padding-bottom: 20px;

    // 轮播图
    #slide {
        // height: 600px;

        ul {
            list-style: none;
        }

        .carousel-content {
            // width: 11400px;
            width: 100%;
            height: 320px;
            position: relative;
            margin: 0 auto;
        }

        .carousel {
            width: 100%;
            height: 100%;
            position: relative;
            overflow: hidden;
            border-radius: 5px;

            li {
                float: left;
                position: absolute;
                display: none;
            }
        }

        .carousel li,
        .carousel li img {
            width: 100%;
            height: 100%;
        }

        .carousel-index {
            position: absolute;
            bottom: 8px;
            width: 100%;
            display: flex;
            justify-content: center;

            li {
                float: left;
                width: 18px;
                height: 18px;
                line-height: 18px;
                text-align: center;
                border-radius: 10px;
                background-color: rgba(0, 0, 0, 0.3);
                font-size: 12px;
                cursor: pointer;
                margin: 0 3px;
                color: #fff;

                &.current-index {
                    background-color: rgba(0, 0, 0, 0.7);
                }

                &:hover {
                    background-color: rgba(0, 0, 0, 0.7);
                }
            }
        }

        .carousel-prev,
        .carousel-next {
            position: absolute;
            top: 0;
            bottom: 0;
            cursor: pointer;
            margin: auto;
            width: 32px;
            height: 40px;
        }

        .carousel-prev img,
        .carousel-next img {
            width: 100%;
            height: 100%;
        }

        .carousel-prev {
            left: 0;
        }

        .carousel-next {
            right: 0;
        }

    }


    #nav {
        list-style: none;
        margin-top: 15px !important;
        padding: 22px 0 25px 0;
        border: 1px solid #EBEBEB;
        zoom: 1;
        padding-bottom: 15px;

        li {
            float: left;
            width: 10%;



            a {
                display: block;
                text-align: center;
                text-decoration: none;

                &:hover p {
                    color: #FF1268 !important;
                }


                &>span {
                    display: block;
                    width: 48px;
                    height: 48px;
                    margin: 0 auto;




                }


                &>p {
                    font-size: 16px;
                    color: #111;
                    text-align: center;

                    &:hover {
                        color: #FF1268 !important;
                    }
                }



            }

            &:nth-child(1)>a>span {
                background: url('../img/icon.png') 0px 0px no-repeat;
                background-size: 50px;
            }

            &:nth-child(2)>a>span {
                background: url('../img/icon.png') 0px -68px no-repeat;
                background-size: 50px;
            }

            &:nth-child(3)>a>span {
                background: url('../img/icon.png') 0px -130px no-repeat;
                background-size: 50px;
            }

            &:nth-child(4)>a>span {
                background: url('../img/icon.png') 0px -190px no-repeat;
                background-size: 50px;
            }

            &:nth-child(5)>a>span {
                background: url('../img/icon.png') 0px -250px no-repeat;
                background-size: 50px;
            }

            &:nth-child(6)>a>span {
                background: url('../img/icon.png') 0px -310px no-repeat;
                background-size: 50px;
            }

            &:nth-child(7)>a>span {
                background: url('../img/icon.png') 0px -375px no-repeat;
                background-size: 50px;
            }

            &:nth-child(8)>a>span {
                background: url('../img/icon.png') 0px -435px no-repeat;
                background-size: 50px;
            }

            &:nth-child(9)>a>span {
                background: url('../img/icon.png') 0px -500px no-repeat;
                background-size: 50px;
            }

            &:nth-child(10)>a>span {
                background: url('../img/icon.png') 0px -560px no-repeat;
                background-size: 50px;
            }
        }
    }


    // content_1 演唱会
    .content_1,
    .content_2,
    .content_3,
    .content_4 {
        padding: 20px;
        border: 1px solid #EBEBEB;
        background: #fff;
        margin-top: 15px;

        h3 {
            font-size: 24px;
            vertical-align: middle;
            margin-left: 5px;
            color: #111;
            width: 500px;
            height: 40px;
        }

        .head_1 {
            position: relative;
            display: block;

            :hover {
                color: #FF1268;

            }

            >img {
                width: 272px;
            }

            .fcont {
                width: 272px;
                height: 120px;
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 17px 10px;
                background-color: rgba(0, 0, 0, .5);
                color: #fff;

                .title {
                    height: 45px;
                    font-size: 16px;
                }

                .details {
                    height: 50px;
                    font-size: 24px;
                    line-height: 50px;
                    font-weight: 400;

                    >span {
                        font-size: 16px;
                    }
                }
            }
        }

        .box-right {
            width: 100%/3;
            float: left;
            // height: 180px;

            .item_1 {
                &:hover {
                    color: #FF1268;
                    text-decoration: none;
                }

                .itemimg {
                    width: 118px;
                    float: left;
                    margin-right: 10px;
                    text-decoration: none !important;

                    img {
                        width: 100%;
                        // height: 182px;

                    }
                }

                .iteminfo {
                    padding: 5px;


                    .title {
                        line-height: 20px;
                        font-size: 14px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        color: #000;

                        &:hover {
                            color: #FF1268;
                        }
                    }

                    .venue {
                        height: 34px;
                    }

                    .venue,
                    .showtime {
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        font-size: 12px;
                        margin-top: 14px;
                        color: #9B9B9B;
                        overflow: hidden;
                        word-break: break-all;

                        &:hover {
                            color: #FF1268;
                        }
                    }

                    .price {
                        // position: absolute;
                        // left: 15px;
                        // bottom: 0;
                        font-size: 16px;
                        color: #FF1268;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }

            }
        }

        .bright {
            &>div:nth-child(4) {
                padding-top: 40px;
            }

            &>div:nth-child(5) {
                padding-top: 40px;
            }

            &>div:nth-child(6) {
                padding-top: 40px;
            }

        }
    }
}