@charset 'utf-8';

@import './header.less';
@import './footer.less';

.english {
    float: right;
    margin-top: 18px;
    width: 121px;
    height: 38px !important;
    line-height: 38px !important;
    overflow: hidden;
    text-align: center;
    border: 1px solid #ebebeb;
    font-size: 14px;
    color: #888;
    text-decoration: none;
    padding: 0;
    cursor: pointer;
}

#main {
    height: 500px;
    background: rgb(209, 231, 238);

    #red {
        width: 250px;
    }
}